#AdminNotification {
    display: flex;
}

.admin-notification{
    margin-left: 235px;
    padding-top: 30px;
}

.admin-notification-form{
    display: flex;
    flex-direction: column;
}

.admin-notification-form button {
    max-width: fit-content;
}