#CourseDetails {
  display: flex;
  justify-content: center;
 
}

/* Custom styles for buttons */
.custom-edit {
    border-color: green;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: black;
  }
  
  .custom-delete {
    border-color: red;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: black;
  }
  
  /* Hover effect */
  .custom-edit:hover {
    background-color: green;
  }
  
  .custom-delete:hover {
    background-color: red;
  }

  /* Custom styles for form animation */
.animated-form {
    display: flex;
    flex-direction: column;
    animation: fadeInUp 0.5s ease-out;
  }
  
  .animated-label {
    margin-bottom: 15px;
    animation: fadeInRight 0.5s ease-out;
  }
  
  .animated-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    animation: fadeInUp 0.5s ease-out;
    max-width: fit-content;
  }
  
  .animated-button {
    flex-grow: 1;
    margin: 0 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .animated-button:hover {
    background-color: #4CAF50; /* Green for Save Changes */
    transform: scale(1.1);
  }
  
  /* Keyframe animations */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

.details-profile img{
    width: 400px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }

.details-profile {
 display: flex;

}