body {
  background-color: #f8f9fa; /* Use a light background color */
}

.navbar {
  background-color: #343a40; /* Dark color for the navbar */
}

.login-form {
  background-color: #ffffff; /* White background color for the form */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  max-width: 400px;
  width: 100%;
}

/* Media query to adjust width for screens less than 425px */
@media (max-width: 425px) {
  .login-form {
    width: 310px;
  }
}

.login-form label {
  color: #343a40; /* Dark color for form labels */
}

.login-form input {
  border: 1px solid #ced4da; /* Border color for form inputs */
}

.login-form button:hover {
  background-color: #0056b3; /* Darker color on hover for form button */
}

.login-form form button:nth-child(2):hover {
  /* Your styles for the second child (Register button) */
  background-color: rgb(41, 234, 102); /* Add margin to separate buttons */
}

.navbar {
  background-color: #343a40; /* Dark color for the navbar */
}

.logo-placeholder img{
  max-height: 100px;
}

.form-button{
  display: flex;
  justify-content: space-around;
}