.registration-section {
    background-color: #e7f0f9; /* Light background color */
  }

  .registration-section h1{
    display: flex;
    justify-content: center;
    align-self: center;
  }

  .registration-section button{
    display: block;
    margin-bottom: 10px;
  }