.registration-section {
    background-color: #f8f9fa; /* Light background color */
    padding: 50px 0;
  }

.Registration-Form div{
    width: 50%;
  }

  /* Add any additional styling as needed */
  